/* Base */
@font-face {
  font-family:  AssistantSemiBold;
  src: url('img/Assistant\ Semi\ Bold.ttf');
}

body{
  font-family: "AssistantSemiBold";
font-size: 20px;
text-align: center;
 }
    .option-beans h4{
      text-transform:uppercase;
    }
  h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size:38px;
  }
  #section-beans h2{
    color:rgb(194,148,138)
  }
  #section-about{
    background-image: url('img/about\ us/about-01.png');
    background-size:100%
  }
  .site-section {
    padding: 2.5em 0; }
    @media (min-width: 768px) {
      .site-section {
        padding: 5em 0; } }
    .site-section.site-section-sm {
      padding: 4em 0; }
  
  .site-section-heading {
    position: relative;
    font-size: 2.5rem; }
    @media (min-width: 768px) {
      .site-section-heading {
        font-size: 4rem; } }
    .site-section-heading:after {
      content: "";
      left: 0%;
      bottom: 0;
      position: absolute;
      width: 100px;
      height: 1px; }
     
  
  .site-footer {
    padding: 4em 0;  }
    @media (min-width: 768px) {
      .site-footer {
        padding: 8em 0; } }
    .site-footer .border-top {
      border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
     
    .site-footer ul li {
      margin-bottom: 10px; }
 
   
     
  @media (max-width: 991.98px) {
    .img-md-fluid {
      max-width: 100%; } }
  
  @media (max-width: 991.98px) {
    .display-1, .display-3 {
      font-size: 3rem; } }
    
  /* Navbar */
  .site-navbar {
    margin-bottom: 0px;
    z-index: 1999;
    position: absolute;
    background-color: #070707;
    opacity:0.65;
    width: 100%; }
    .site-navbar.transparent {
      background: transparent; }
    .site-navbar.absolute {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
    .site-navbar .site-logo {
      position: relative;
      top: -4px; }
      .site-navbar .site-logo a {
        color: #fff; }
    .site-navbar .site-menu-toggle {
      color: #fff; }
    .site-navbar .site-navigation.border-bottom {
      border-bottom: 1px solid #f3f3f4 !important; }
    .site-navbar .site-navigation .site-menu {
      margin-bottom: 0; }
      .site-navbar .site-navigation .site-menu .active > a {
        color: #f16821; }
      .site-navbar .site-navigation .site-menu a.active {
        color: #f16821; }
      .site-navbar .site-navigation .site-menu a {
        text-decoration: none !important;
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.7vw; }
      .site-navbar .site-navigation .site-menu > li {
        display: inline-block;
        padding: 10px 10px; }
        .site-navbar .site-navigation .site-menu > li > a {
          padding: 20px 0px;
          color: #fff;
          text-decoration: none !important; }
          .line-menu{
              width:6vw;
              
              padding-bottom: 4px;
              padding-left: 20px;
          }
      .site-navbar .site-navigation .site-menu .has-children {
        position: relative; }
        .site-navbar .site-navigation .site-menu .has-children > a {
          position: relative;
          padding-right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children > a:before {
            position: absolute;
            content: "\e313";
            font-size: 16px;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            font-family: "Assistant";
        } 
    .site-navbar.scrolled {
      position: fixed;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      margin-top: -130px;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      -webkit-box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.1);
      box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.1); }
      .site-navbar.scrolled.awake {
        margin-top: 0px;
        -webkit-transition: .3s all ease-out;
        -o-transition: .3s all ease-out;
        transition: .3s all ease-out; }
      .site-navbar.scrolled.sleep {
        -webkit-transition: .3s all ease-out;
        -o-transition: .3s all ease-out;
        transition: .3s all ease-out; } 
  .site-menu img{
      max-width: 6.7vw;
  }
  .site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 9000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }
    .offcanvas-menu .site-mobile-menu {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%); }
    .site-mobile-menu .site-mobile-menu-header {
      width: 100%;
      float: left;
      padding-left: 20px;
      padding-right: 20px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
        float: right;
        margin-top: 8px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
          font-size: 30px;
          display: inline-block;
          padding-left: 10px;
          padding-right: 0px;
          line-height: 1;
          cursor: pointer;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; } 
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
        float: left;
        margin-top: 10px;
        margin-left: 0px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
          display: inline-block;
          text-transform: uppercase; }
          .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
            max-width: 70px; }
          .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
            text-decoration: none; }
    .site-mobile-menu .site-mobile-menu-body {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      position: relative;
      padding: 0 20px 20px 20px;
      height: calc(100vh - 52px);
      padding-bottom: 150px; } 
      .site-mobile-menu .site-nav-wrap li {
        position: relative;
        display: block; } 
      .site-mobile-menu .site-nav-wrap .arrow-collapse {
        position: absolute;
        right: 0px;
        top: 10px;
        z-index: 20;
        width: 36px;
        height: 36px;
        text-align: center;
        cursor: pointer;
        border-radius: 50%; }  
        .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .site-mobile-menu .site-nav-wrap > li {
        display: block;
        position: relative;
        float: left;
        width: 100%; }
        .site-mobile-menu .site-nav-wrap > li > a {
          padding-left: 20px;
          font-size: 20px; }
        .site-mobile-menu .site-nav-wrap > li > ul {
          padding: 0;
          margin: 0;
          list-style: none; }
          .site-mobile-menu .site-nav-wrap > li > ul > li {
            display: block; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > a {
              padding-left: 40px;
              font-size: 16px; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
              padding: 0;
              margin: 0; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
                display: block; }
                .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                  font-size: 16px;
                  padding-left: 60px; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] {
        float: left;
        width: 100%;
        margin-top: 30px;
        padding-bottom: 5em; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
          width: auto; }
          .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
            padding-left: 15px !important; }
     
  
  .next-match .image {
    width: 50px;
    border-radius: 50%; }
      
  .custom-pagination span {
    background: #e6e6e6;
    color: #000; }

    .border-pas:after {margin-left:100px;
        background-color: #fff;
        content: "";
        display: inline-block;
        height: 2px;
        position: relative;
        vertical-align: middle;
        width: 1.3vw;
        position: absolute;
        top: 50%;
        right: -2%;
      } 
      @media (min-width: 768px){
        .border-pas:after{
        right: -10%;

        }
      }
      
      @media (min-width: 850px){
        .border-pas:after{
        right: -15%;

        }
      }
      @media (min-width: 1000px){
        .border-pas:after{
        right: -20%;

        }
      }
      @media (min-width: 1200px){
        .border-pas:after{
        right: -20%;

        }
      }
      @media (min-width: 1350px){
        .border-pas:after{
        right: -25%;

        }
      }
      li.col-sm-1:first-child {
        width: 4%;
    }
      li.col-sm-2.border-pas-middle::after {
        top: 45%;
    }

    .nav-img{
      padding: 0px 0px !important;
      display: inherit !important;
  }

  #section-home video{
    width:100%;
    float:right;
    top:-20%;
  }
  #section-home img{
    width:20%;
   top:30%; 
  left:40% ;
position: absolute;
 }
 
 @media (max-width: 840px){
  #section-home img{
   top:20%;
 }
}

#section-about{
  width:100%
}

ol.carousel-indicators li {
  color: black;
  border-color: black;
}
.carousel-indicators .active{
  background-color: black;
}
.beans{
  padding-top:20px;
}
.beans img{
  width:90%;
  cursor: pointer;
  padding:12px;
  transition: padding 0.25s ease-in;
}
.beans img:hover{
  padding:0;
  transition: padding 0.25s ease-in;
}

.beans-info img{
  width:20%;
}
h4{
  font-size:22px;
}
h5{
  font-size:21px;
}
.option-beans p{
  font-size:18px;

}
img.drops{
  width:76%;
}
.beans-info{
  font-size:1.7vw;
  margin-left:12px;
  margin-right:-12px;
  margin-top:-12px;
  border-left:inset 1px black;
  border-bottom:solid 1px black;
  border-right:solid 1px black;
  border-top:solid 1px black;
  margin-bottom: 20px;
}
.beans-info .content{
  clear:both;
  /* display:inline;
  padding:20px; */
} 
.option-beans{
  padding:30px;
  padding-bottom: 0px;
  box-shadow: -1px 0px 0px 0px black ;
}
.option-beans:nth-child(1){
  box-shadow: 0px 0px 0px 0px black ;
}
.selected{
  padding:0px !important;
} 
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.flex-row.row:after, 
.flex-row.row:before {
  display: flex;
}
#section-courses{
  text-align: left;
  width:100%;
color:white;
padding: 20px 30px ; 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("img/our\ coures/pic\ course-15.png")
}
 h3{
   font-size:24px;
   margin:10px 0;
 }
 #section-courses h3{
   width:80%;
 }
#section-courses .inner{
  width:57%;
}
#section-courses img{
  width:10%;
  margin-right:15px; 
}

#section-contact{
  background-image: url("img/contact us/pic\ contact-15.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width:100%;
}

#section-contact .container{
  text-align:left;
  width:67%;
  margin-left:15px;
}
.contactInfo{
  text-align:left;
  width:75%;
  margin-left:30px;
  padding-top:20px;

}
.contactInfo h3{
  font-size: 2vw;
}
#section-courses p{
  margin:0;
}
.imgMedia{
  margin-top:15px;
  width:2vw;;
}

#section-contact input{

  margin-bottom:10px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.row-eq-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.textEaraMSG{
  height: 100%;
  padding-bottom: 10px;
}
.textEaraMSG textarea{
  height:100%;
}
.btns{
  text-align: right;
}
.btns .btn{
  padding:5px 25px;
}

.imgMap{
  width:100%;
}
